nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container
        a.navbar-brand(href='#') Pug
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item(class=active.form ? "active" : "")
                    a.nav-link(href='/') Form
                li.nav-item(class=active.products ? "active" : "")
                    a.nav-link(href='/productos') List
